fieldset {
    border: 0;
}

legend {
    display: grid;
    text-align: left;

}

form {
    margin: 2rem auto 0 auto;
    width: 600px;
    padding: 5em;
    border: 2px solid white;
    border-radius: 1em;
    background: black;

}

label {
    display: inline-block;
    width: 90px;
    text-align: left;
    grid-row: auto;
    padding: 0.5em 0.5em 0.5em 0;

}

select {
    font-family: Helvetica, monospace;
}

textarea {
    vertical-align: top;
    height: 5em;
}

button {
    border-radius: .5rem;
    background: #0096FF;
    color: white;
    border: 1px solid white;


}

button:hover {
    background: white;
    border: #7B7D7D;
    color: black;
}

body {
    background-color: rgb(57, 169, 219);
    font-family: Helvertica, monospace;
    color: white;

}

input,
select,
textarea,
button {
    padding: 0.7em;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input,
select,
textarea {
    width: 425px;
    box-sizing: border-box;
    border: 1px solid #999;

}

input:focus,
textarea:focus {
    outline: 2px solid gold;
}


@media screen and (max-width: 600px) {

    form {
        width: auto;
    }

    label {
        display: block;
        margin: 0;
        text-align: left;
        width: auto;
    }

    input,
    select,
    textarea {
        width: 100%;
    }

}
