body {
    background-color: black;
    font-family: "Roboto Mono", monospace;
    color: white;
}

#logo {
    display: block;
    margin: 2rem auto 0 auto;
    max-width: 100px;
}

h2 {
    display: block;
    text-align: center;
}

form fieldset {
    border: 0;
}

form {
    margin: 2rem auto 0 auto;
    width: 600px;
    padding: 5em;
    border: 2px solid white;
    border-radius: 1em;
    background: black;
}

form label {
    display: inline-block;
    width: 90px;
    text-align: left;
    grid-row: auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

form select {
    font-family: "Roboto Mono", monospace;
}

form textarea {
    vertical-align: top;
    height: 5em;
}

form button {
    font-family: "Roboto Mono", monospace;
    border-radius: 0.5rem;
    background: #0096ff;
    color: white;
    border: 1px solid white;
    transition: 0.3s;
}

form button:hover {
    background: white;
    color: #0096ff;
    border: 1px solid #0096ff;
}

input,
select,
textarea,
button {
    box-sizing: border-box;
    padding: 0.7em;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input,
select,
textarea {
    width: 425px;
    border: 1px solid #999;
    transition: 0.1s;
}

input:focus,
textarea:focus,
select:focus {
    outline: 2px solid #0096ff;
}

.cardPad {
    margin: 0 auto;
    background-color: white;
    width: 364px;
    height: 352px;
    border-radius: 5px;
    border: 1px solid white;
}

.card {
    font-family: 'Roboto', sans-serif;
    background: white;
    margin: 0 auto;
    width: 344px;
    height: 332px;
    position: relative;
    top: 10px;
    border-radius: 5px;
    transition: .2s;
    box-shadow: 0 5px 5px #94969d50;
}

.card:hover {
    box-shadow: 0 2px rgba(0, 0, 0, .3);
    filter: blur(4px);
}


.container {
    position: relative;
    width: 344px;
    height: 332px;
    padding: 16px;
    bottom: 15%;
}

.columnOne {
    display: flex;
    align-items: center;
    gap: 10px;
}

.desert {
    height: 194px;
    width: 344px;
    border-radius: 5px 5px 0 0;
}

.avatar {
    position: relative;
    top: 5px;
    width: 40px;
    border-radius: 40px;
}

.title {
    position: relative;
    top: 15px;
    color: #000;
    font-size: 22px;
}

.secondary {
    position: relative;
    bottom: 10px;
    color: #232f34;
    font-size: 13px;
    opacity: 85%;
}

.columnTwo {
    font-family: 'Roboto Flex', sans-serif;
    margin-right: 25px;
    position: relative;
    bottom: 35px;
    color: #232f34;
    font-size: 15px;
    opacity: 85%;
}

@media screen and (max-width: 600px) {
    form {
        width: auto;
    }

    form label {
        display: block;
        margin: 0;
        text-align: left;
        width: auto;
    }

    input,
    select,
    textarea {
        width: 100%;
    }

    form h3 {
        display: block;
        text-align: center;
    }
}
